body {
  background-color: #FFFFFF;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
.logo{
  width: 200px;
}
ul.header li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
}
ul.header {
  padding: 0;
}
ul.header li a {
  color: #1E1E1E;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.container{
  border: 1px solid #A7A6A6;
  border-radius: 6px;
}

h2{
  font-size: 24px;
  border-bottom: 1px solid #A7A6A6;
}
